body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffffff;
    text-align: center;
}

/* Logo */
.navbar .logo {
    color: #58a756;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar .logo:hover {
    color: #387a3a;
    text-decoration: none;
}

/* Links de la navbar */
.navbar-nav .nav-link {
    color: #ffffff; 
    margin-left: 1rem;
}

.navbar-nav .nav-link:hover {
    color: #387a3a; 
}

/* Link activo */
.navbar-dark .navbar-nav .nav-link.active {
    color: #387a3a; 
    font-weight: bold;
}

/* Hero */
.hero {
    background-color: #699762; 
    color: #ffffff;
    padding: 120px 20px; 
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn-hero {
    background-color: #ffffff;
    color: #387a3a;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-hero:hover {
    background-color: #e6e6e6;
    color: #316a33;
}

.credit-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.credit-card img {
    height: 200px;      
    width: 100%;         
    object-fit: cover;   
}

.title h1 {
    text-align: center;        
    margin-top: 120px;         
}

/* Contenedor del formulario */
.form-container {
    background-color: #f8f9fa; /* fondo claro */
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Títulos de secciones */
.form-container h5 {
    margin-top: 20px;
    margin-bottom: 15px;
    color: #333;
    font-weight: bold;
}

/* Inputs y textarea */
.form-container .form-control,
.form-container .form-select {
    border-radius: 8px;
    border: 1px solid #ced4da;
    padding: 10px 15px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Efecto al enfocar */
.form-container .form-control:focus,
.form-container .form-select:focus,
.form-container textarea:focus {
    border-color: #00bfff;
    box-shadow: 0 0 5px rgba(0,191,255,0.5);
}

/* Botones */
.form-container .btn {
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
}


/* Footer */
.footer {
    background-color: #000000; 
    color: #ffffff; 
    padding: 20px 0;
    font-size: 0.9rem;
    margin-top: 60px;
}


