body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    text-align: center;
}

/* Logo */
.navbar .logo {
    color: #58a756;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar .logo:hover {
    color: #387a3a;
    text-decoration: none;
}

/* Links de la navbar */
.navbar-nav .nav-link {
    color: #ffffff; 
    margin-left: 1rem;
}

.navbar-nav .nav-link:hover {
    color: #387a3a; 
}

/* Link activo */
.navbar-dark .navbar-nav .nav-link.active {
    color: #387a3a; 
    font-weight: bold;
}

/* Hero */
.hero {
    background-color: #699762; 
    color: #ffffff;
    padding: 120px 20px; 
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn-hero {
    background-color: #ffffff;
    color: #387a3a;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-hero:hover {
    background-color: #e6e6e6;
    color: #316a33;
}

.credit-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.credit-card img {
    height: 200px;      
    width: 100%;         
    object-fit: cover;   
}


/* Footer */
.footer {
    background-color: #000000; 
    color: #ffffff; 
    padding: 20px 0;
    font-size: 0.9rem;
    margin-top: 60px;
}


